/*

!.gitignore

!etc/
etc/*
!etc/sysctl.conf
!etc/vconsole.conf
!etc/fstab
!etc/locale.conf
!etc/os-release

!etc/default/

!etc/portage/
etc/portage/savedconfig/

!etc/udev/
!etc/udev/rules.d/
etc/udev/udev.conf
etc/udev/hwdb.d
etc/udev/hwdb.bin

