/*

!.gitignore
!chroot.sh

!etc/
etc/*
!etc/sysctl.conf
!etc/vconsole.conf
!etc/fstab
!etc/locale.conf
!etc/os-release
!etc/environment

!etc/default/

!etc/ssh/
etc/ssh/*
!etc/ssh/sshd_config.bak

!etc/samba/
etc/samba/*
!etc/samba/smb.conf.bak

!etc/portage/
etc/portage/repo.postsync.d/example
etc/portage/savedconfig/

!etc/udev/
!etc/udev/rules.d/
etc/udev/udev.conf
etc/udev/hwdb.d
etc/udev/hwdb.bin

!usr/
usr/*
!usr/src/
usr/src/*
!usr/src/linux/
usr/src/linux/*
!usr/src/linux/.config

!var/
var/*
!var/lib
var/lib/*
!var/lib/portage
var/lib/portage/*
!var/lib/portage/world
!var/lib/AccountsService
