#ACTION=="add", SUBSYSTEM=="net", KERNEL=="e*", RUN+="/bin/ip link set %k up"
ACTION=="add", SUBSYSTEM=="net", KERNEL=="e*", ATTR{tx_queue_len}="10000"
ACTION=="add", SUBSYSTEM=="net", KERNEL=="e*", RUN+="/usr/sbin/ethtool -s %k wol g"
#ACTION=="add", SUBSYSTEM=="net", KERNEL=="e*", RUN+="/sbin/tc qdisc add dev %k root fq"


